html {
  font-size: 10px;
}

body {
  font-size: 1.6 rem;
  font-family: 'Open Sans', 'Verdana', sans-serif;
}

.container {
  min-width: 320px;
  max-width: 2160px;
  width: auto;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
