html {
  font-size: 10px;
}

body {
  @extend %font-prim;
  @include font(1.6rem, 2.6rem, 400, normal);
}

h1 {
  @extend %font-add;
  @include font(4.4rem, 5.4rem);
  @extend %color-heading;
  @include media-mobile {
    @include font(3.2rem, 4.2rem);
  }
}

h2 {
  @include font(3.4rem, 4.6rem);
  margin-bottom: 17px;
  @extend %color-heading;
  @include media-tablet {
    margin: 0;
  }
  @include media-mobile {
    margin: 0;
    @include font(2.4rem, 3.2rem);
  }
}

h3 {
  @include font($height: 3.4rem, $size: 2.4rem);
  @extend %color-heading;
  @include media-tablet {
    overflow: hidden;
    margin: 0 0 20px 0;
    flex-grow: 1;
  }
  @include media-mobile {
    @include font(2.1rem, 3.1rem);
    max-width: 274px;
    text-align: left;
  }
}

h4 {
  @include font(2.2rem, 3rem, 600);
  margin-bottom: 16px;
  @extend %color-heading;
  @include media-mobile {
    @include font(2rem, 2.7rem);
  }
  @include media-tablet {
    text-align: center;
  }
  @include media-mobile {
    margin: 0;
  }
}

h5 {
  @include font(1.6rem, 2.6rem);
}
