.button {
  @extend %font-prim;
  @include font(1.6rem, 2.2rem, 600, normal);
  height: 4.6rem;
  width: 10.5rem;
  border-radius: 0px;
  padding: 11px 0 13px 0;
  border-radius: 0.4rem;
  cursor: pointer;
  @extend %transition;
  &_bordered {
    background: $color-light;
    border: 1px solid $color-border-button;
    color: $color-button-text;
    &:hover {
      background: $color-border-button;
    }
  }
  &_colored {
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-additional;
      border-color: $color-additional;
    }
  }
}

.promo__buttons > * {
  @include font(1.6rem, 2.2rem, 700, normal);
  height: 53px;
  width: 174px;
  margin-right: 44px;
  @include media-tablet {
    margin-right: 22px;
  }
  @include media-mobile {
    margin: 23px 0 25px 0;
    padding: 0;
  }
}

.link-button {
  @extend %font-add;
  @include font(1.6rem, 2.3rem, 600, normal);
  color: $color-primary;
  display: inline-flex;
  align-items: center;
  @include media-tablet {
    margin-right: 0px;
  }
  @include media-mobile {
    margin: 0 0 49px 0;
    width: 171px;
    height: 23px;
  }
}

.link-button__text {
  padding-left: 10px;
  @extend %transition;
  &:hover {
    color: $color-additional;
  }
}
