.header {
  background-color: $color-light;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  @include media-mobile {
    padding-left: 21px;
    padding-top: 23px;
  }
}

.header__buttons button:first-child {
  margin-right: 14px;
  @include media-tablet {
    margin-right: 15px;
  }
}

.header__buttons {
  @include media-mobile {
    display: none;
  }
}
